.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
html{
    font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#nav-front{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#nav-back{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
#menu{
    display: flex;
    flex-direction: row;
}
#menu li{
    list-style: none;
    padding: 10px;
}
#menu a{
    text-decoration: none;
}
#nav-back #avatarpic{
    width: 30px;
    height: 30px;
}
#line{
    width: 67%;
    border-top: 1px solid lightgrey;
}
article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#grid-of-shoes{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    margin-top: 90px;
}
#grid-of-shoes div{
    width: 300px;
    height: 400px;
    box-shadow: rgba(221, 126, 2, 0.378) 0px 4px 12px;
    background-color: white;
    padding-top: 25px;
}
.shoes{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#shoe1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#shoe2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#shoe3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
#shoe4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#shoe5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#shoe6{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}