.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin:0; 
}

html{
    font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#nav-front{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#nav-back{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
#cart{
    width: 25px;
    height: 23px;
}
#menu{
    display: flex;
    flex-direction: row;
}
#menu li{
    list-style: none;
    padding: 10px;
}
#menu a{
    text-decoration: none;
}
#nav-back #avatarpic{
    width: 30px;
    height: 30px;
}
#menu li>p:hover{
    color:#ff7d1b;
}
#line{
    width: 67%;
    border-top: 1px solid lightgrey;
}
section{
    display: flex;
    justify-content: center;
}
#search-button{
    background-color: #000000;
    border: 0;
    padding: 7px;
    border-radius: 5px;
    color: white;
}
#site-message{
    z-index: 2;
    position: absolute;
    color: #ff7e1bf9;
    font-size: 140px;
}
#heroImg{
    width: 100vw;
    height: 500px;
    z-index: 0;
}
#search-input::placeholder{
    color:#ff7d1b;
}
article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#filter-box{
    border: 1px solid black;
    border-top: 0px;
    width: 180px;
    height: 210px;
    z-index: 5;
    position: absolute;
    left: 26px;
    top: 890px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top{
    background-color: black;
    color: white;
    text-align: center;
    flex: 1;
    width: 180px;
}
#mid{
    border-top: 1px solid black;
    color: black;
    text-align: center;
    width: 180px;
    flex: 1;
}
#mid:hover{
    background-color:#ff7d1b;
}
#mid2{
    border-top: 1px solid black;
    color: black;
    text-align: center;
    width: 180px;
    flex: 1;
}
#mid2:hover{
    background-color:#ff7d1b;
}
#bottom{
    border-top: 1px solid black;
    color: black;
    text-align: center;
    width: 180px;
    flex: 1;
}
#bottom:hover{
    background-color:#ff7d1b;
}
#grid-of-shoes{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    position: absolute;
    top: 450px;
    z-index: 7;
}
#grid-of-shoes div{
    width: 300px;
    box-shadow: rgba(221, 126, 2, 0.378) 0px 4px 12px;
    background-color: white;
    padding-top: 25px;
    display: flex;
    flex: 1;
}
#grid-of-shoes div:hover{
    width: 300px;
    box-shadow: rgba(185, 185, 185, 0.237) 0px 4px 12px;
    background-color: #ff7e1b8b;
    padding-top: 25px;
    display: flex;
    flex: 1;
}
