.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
html{
    font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#nav-front{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#nav-back{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
#cart{
    width: 25px;
    height: 23px;
}
#menu{
    display: flex;
    flex-direction: row;
}
#menu li{
    list-style: none;
    padding: 10px;
}
#menu a{
    text-decoration: none;
}
#nav-back #avatarpic{
    width: 30px;
    height: 30px;
}
#menu li>p:hover{
    color:#ff7d1b;
}
#line{
    width: 67%;
    border-top: 1px solid lightgrey;
}
article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
article img{
    border-radius: 10px;
}
#shoe-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#img-1{
    width: 460px;
    height: 460px;
}
#img-1a{
    width: 120px;
    height: 120px;
}
#img-2{
    width: 120px;
    height: 120px;
}
#img-3{
    width: 120px;
    height: 120px;
}
#img-4{
    width: 120px;
    height: 120px;
}
.images:hover{
    box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #ff7d1b,   /* inner left magenta short */
    inset -20px 0 80px #ff7d1b,  /* inner right cyan short */
    inset 20px 0 300px blue,  /* inner left magenta broad */
    inset -20px 0 300px #ff7d1b, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -5px 0 20px blue,        /* outer left magenta */
    5px 0 20px #ff7d1b;         /* outer right cyan */
}
#photo-array{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 460px;
}
#photo-array img{
    margin-top: 30px;
    width: 100px;
}
#shoe-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 90px;
}
#shoe-description p{
    width: 400px;
}
#shoe-description > h1{
    font-size: 30px;
    font-weight: bolder;
    width: 400px;
}
#price-dis{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

#price-dis #discount{
    color: #ff7d1b;
    background-color: #fbeee1;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#past-price{
    color: lightgrey;
    text-decoration:line-through;
}

#add-sub{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f7f8fd;
    width: 130px;
    height: 40px;
    border-radius: 5px;
}
#first-btn{
    background-color: transparent;
    border: none;
    padding: 10px;
}
#amtCounter{
    text-align: center;
}
#snd-btn{
    background-color: transparent;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cart-btn{
    background-color: #ff7d1b;
    border-radius: 10px;
    color: white;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

#cart-btn > img{
    width: 40px;
    height: 20px;
}
#add-sub-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
    width: 340px;
}
#database-form{
    border: 2px double #ff7d1b;
    width: 500px;
    margin-left: 20px;
}