.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
html{
    font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#nav-front{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#nav-back{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
#menu{
    display: flex;
    flex-direction: row;
}
#menu li{
    list-style: none;
    padding: 10px;
}
#menu a{
    text-decoration: none;
}
#nav-back #avatarpic{
    width: 30px;
    height: 30px;
}
#line{
    width: 67%;
    border-top: 1px solid lightgrey;
}
article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#database-form{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    border: 2px double #ff7d1b;
    width: 500px;
    height: 500px;
    margin: 65px 0 0 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: #ff7d1b;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#database-form h1{
    color: white;
}
#submit-button{
    padding: 10px;
    color: #ff7d1b;
    background-color: #ffffff;
    border: 0;
    border-radius: 10px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}