.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
html{
    font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#nav-front{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#nav-back{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
#menu{
    display: flex;
    flex-direction: row;
}
#menu li{
    list-style: none;
    padding: 10px;
}
#menu a{
    text-decoration: none;
}
#nav-back #avatarpic{
    width: 30px;
    height: 30px;
}
#line{
    width: 67%;
    border-top: 1px solid lightgrey;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article>h1{
    color: black;
}
#database-form{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
  
    width: 1145px;
    height: 600px;
    margin: 65px 0 0 20px;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: rgb(13 0 255 / 30%) 0px 2px 20px 4px
}
#database-form label, h1{
    color: black;
}
#adding-shoes{
    padding: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#submit-button:hover{
    padding: 10px;
    color: #ff7d1b;
    background-color: #ffffff;
    border: 0;
    border-radius: 10px;
    width: 41%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#submit-button{
    padding: 10px;
    color: #ff7d1b;
    background-color: #ffffff;
    border: 0;
    border-radius: 10px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#updating-shoes{
    padding: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#update-button{
    padding: 10px;
    color: #ff7d1b;
    background-color: #ffffff;
    border: 0;
    border-radius: 10px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#update-button:hover{
    padding: 10px;
    color: #ff7d1b;
    background-color: #ffffff;
    border: 0;
    border-radius: 10px;
    width: 41%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#delete-button{
    padding: 10px;
    color: #ffffff;
    background-color: #e60000;
    border: 0;
    border-radius: 10px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#delete-button:hover{
    padding: 10px;
    color: #ffffff;
    background-color: #e60000;
    border: 0;
    border-radius: 10px;
    width: 41%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#menu li>p:hover{
    color:#ff7d1b;
}

select{
    width: 400px;
    height: 50px;
    line-height: 50px;
  -webkit-appearance: menulist-button;  
  -moz-appearance:none;
}
option{
    display: block;
    background-color: white ;
    color:#ff7d1b;
    width: 200px;
    height: 50px;
    line-height: 50px;
  -webkit-appearance: menulist-button;  
}
input:focus{
    background-color:#ff7e1b48;
}